@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.button:active {
  background-color: #004494;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.5);
}

.list_Display {
  display: inline-block; 
  text-align: left; 
  padding-left: 20px; 
}

.list_Wrapper {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 75px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #aaa;
}

.Detail-page {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.Detail-section {
  margin-top: 80px;
  margin-bottom: 30px;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Detail-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #194a80;
}

.Detail-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.Detail-page section:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .Detail-page {
    padding: 20px 10px;
  }

  .Detail-section {
    padding: 20px;
  }

  .Detail-section h2 {
    font-size: 24px;
  }

  .Detail-section p {
    font-size: 16px;
  }
}

.Button-section {
  margin-top: 20px; 
  text-align: center; 
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}